


header {
  position: static;
  top: 0 ;
  background-color: white ;
 border-bottom-style: solid ;
 border-bottom-color: black ;
 margin-top: 0px ;
 margin-bottom: 2px ;
 height: 100px ;
 width: 100% ;
}
.namebutton {
  font-size: 10px ;
  background-color: teal ;
  color: white ;
  border-style: solid ;
  padding: 20px ;
  margin-left: 15% ;
  margin-right: 70% ;
  margin-bottom: 0px ;
  float: left; 
}


nav {
  position: relative; 
  float: right ;
  top: -60px ; 
  right: 10px ;
}
nav:hover {
  background-color: purple ;
  color: white ;
}
ul li {
  display: inline ;
  color: white ;
}
.clear {
  clear: both ;
  overflow: auto ;
}

body {
  background: url("https://i.imgur.com/MOkYBLj.png") ;
  
  margin: 0 auto ;
  
}

.wrapper {
    
  background-color: white ;
  padding: 20px ;
  max-width: 960px ;
  margin-top: 20px ; 
  margin-left: auto ; 
  margin-right: auto ; 
  border-style: solid; 
  border-color: black ; 
  
}




.About {
    border-bottom-style: solid ;
    border-bottom-color: grey ;
    font-size: 24px ; 
    margin-left: 100px ;  
 
}


form {
   margin-top: 90px ; 
    margin: 0 auto;
    max-width: 600px;
   
   
   
  }
  
  form div + div {
    margin-top: 2em;
    
  }

  
  label {
    margin-right: 100px ; 
    display: inline-block;
    width: 60px;
    text-align: right;
  }
  
  input, textarea {
    position: relative ; 
    font: 2em sans-serif;
    width: 600px;
    box-sizing: border-box;
     border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  
  
  .button {
    margin-left: 180px ; 
    color: white ;
  }
 footer {
   position: absolute; 
    top: -1800 ;
    bottom: 0 ; 
    border-bottom-color: black ;
    border-bottom-style: solid ;
    border-bottom-width: 40px ;
    text-align: center ;
    width: 100% ; 
    
    
}

.bottom {
    border-bottom-style: solid ;
    border-bottom-color: teal ;
    border-bottom-width: 10px ;
    
   
    
}
@media (max-width:980px) and (min-width:780px) {
  .wrapper{
    margin-left: 20px ; 
    margin-right: 200px ; 
    margin-bottom: 400px ; 
  }
  .form {
    position: relative ; 
    max-width: 400px ; 
  }
  .About{
    border-color: blue ; 
    margin-left: 20px ;
  }
  .nav{
    float: none ; 
  }
}
@media (max-width:768px) and (min-width:650px) {
  .wrapper {
    background-color: purple ;
    color: white ; 
  
  }

  .About{
    background-color: blue ; 
    color: white ; 
  }
  .About {
    font-size: 18px ; 
  }
}
@media (max-width:640){
  .wrapper {
     
    margin-left: 40px ; 
    margin-right: 40px ; 
  }
  header{
    position: static ; 
  }
  footer {
    position: static ; 
    width: 100%
  }
  #name, #email, #msg {
    position: relative ; 
    
  }
}