
body {
    background: url("https://i.imgur.com/MOkYBLj.png") ;
    border-top-style: solid ;
    margin: 0 auto ;
    width: 100% ; 
    
    
    
}
header {
    position: static;
    top: 0 ;
    background-color: white ;
   border-bottom-style: solid ;
   border-bottom-color: black ;
   border-top-color: black ;
   margin-top: 0px ;
   margin-bottom: 2px ;
   height: 100px ;
   width: 100% ;
   
}
.namebutton {
    font-size: 10px ;
    background-color: teal ;
    color: white ;
    border-style: solid ;
    padding: 20px ;
    margin-left: 15% ;
    margin-right: 70% ;
    margin-bottom: 0px ;
    float: left; 
}

nav {
    position: relative; 
    float: right ;
    top: -60px ; 
    right: 10px ;
}

ul li {
    display: inline ;
    color: white ;
}




.wrapper {
    
    background-color: white ;
    max-width: 960px ;
    margin-left: auto ; 
    margin-right: auto ; 
    border-style: solid; 
    border-color: black ; 
    
}
.About {
    margin-top: 10px ; 
    border-bottom-style: solid ;
    border-bottom-color: grey ;
    font-size: 30px ; 
    margin-left: 40px ; 
    margin-right: 40px ; 
   
 
}
.pic {
   
    margin-left: 25px ; 
    float: left ; 
    padding: 10px ; 
    

   
}

.p {
    padding: 5px ;
    font-size: 20px ;
    
    

}

footer {
    margin-bottom: 0px ; 
    border-bottom-color: black ;
    border-bottom-style: solid ;
    border-bottom-width: 40px ;
    text-align: center ;
    
    
}

.bottom {
    border-bottom-style: solid ;
    border-bottom-color: teal ;
    border-bottom-width: 10px ;
    
   
    
}

.clear {
    clear: both ;
    overflow: auto ;
}
@media (max-width:980px) and (min-width:780px) {
    .wrapper{
      margin-right: 200px ; 
      margin-bottom: 200px ; 
    }
    .p{
        font-family: 'Courier New', Courier, monospace ;
    }
    .footer{
        background-color: beige ; 
    }
}    
@media (max-width: 768px) and (min-width:650px) {
    .wrapper {
        width: 100% ; 
        margin-left: 20px ; 
        margin-right: 20px ; 
    }
    .p {
        color: purple ; 
        font-size: 14px ; 
    }
    .nav{
        float:none ; 
    }
}
  
@media (max-width:640) {
    .wrapper {
      width: 100% ; 
      background-color: olive ; 
    }
    .header{
        position: static ;
    }
    .nav {
         
        float: none ; 
        width: 100% ; 
    }
    .p {
        font-size: 10px ; 
    }
}